node-red/flows.json
[{"id":"3f7eeedd.048942","type":"tab","label":"notifications","disabled":false,"info":""},{"id":"f68b2e74.e9f06","type":"tab","label":"lichten","disabled":false,"info":""},{"id":"fb24cd08.93ae3","type":"tab","label":"cameras","disabled":false,"info":""},{"id":"3b74ed43.806db2","type":"tab","label":"zigbee2mqtt","disabled":false,"info":""},{"id":"fcbdd419.d7ebd8","type":"tab","label":"routines","disabled":false,"info":""},{"id":"af363966.f0ca38","type":"tab","label":"empty house routines","disabled":false,"info":""},{"id":"77e01c48.912644","type":"tab","label":"alarm","disabled":false,"info":""},{"id":"2d99bc64.b59ef4","type":"tab","label":"sensors","disabled":false,"info":""},{"id":"f76034e4.c52398","type":"server","z":"","name":"Home Assistant"},{"id":"4702de5.b50a52","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dfb6c086.eca8a","type":"light-scheduler-settings","z":"","name":"Thuus","latitude":"52.1926938","longitude":"4.7188603"},{"id":"14c3ce44.37f7c2","type":"server-state-changed","z":"fb24cd08.93ae3","name":"IP Camera Bert motion on","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.ip_camera_bert_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":80,"wires":[["e5f57c7f.09417"],[]]},{"id":"e5f57c7f.09417","type":"delay","z":"fb24cd08.93ae3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["d7cbc44e.2251d8"]]},{"id":"d7cbc44e.2251d8","type":"api-call-service","z":"fb24cd08.93ae3","name":"IP Camera Bert motion off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"BlueIris/Cam1/MOTION_A\",\"payload\":\"OFF\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":80,"wires":[[]]},{"id":"1ab44a51.fb2246","type":"server-state-changed","z":"fb24cd08.93ae3","name":"IP Camera Bert motion on","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.ip_camera_bert_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":200,"wires":[["f4623743.b12868"],[]]},{"id":"7af7cdef.943424","type":"api-call-service","z":"fb24cd08.93ae3","name":"screenshot","server":"f76034e4.c52398","version":0,"service_domain":"camera","service":"snapshot","data":"{\"entity_id\":\"camera.ip_camera_bert\",\"filename\":\"/config/www/blueiris/ipcamera.jpg\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":200,"wires":[["558eb7a8.b88658"]]},{"id":"558eb7a8.b88658","type":"api-current-state","z":"fb24cd08.93ae3","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":200,"wires":[["f1ea37fc.f614a8"],["9b4402ce.afade"]]},{"id":"9b4402ce.afade","type":"api-call-service","z":"fb24cd08.93ae3","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Beweging gedetecteerd in slaapkamer Bert:\",\"title\":\"Prio1 Henk Security Alarm!\",\"data\":{\"file\":\"/config/www/blueiris/ipcamera.jpg\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":240,"wires":[[]]},{"id":"f1ea37fc.f614a8","type":"api-call-service","z":"fb24cd08.93ae3","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Beweging gedetecteerd in slaapkamer Bert:\",\"title\":\"Prio1 Henk Security Alarm!\",\"data\":{\"file\":{\"path\":\"/local/blueiris/ipcamera.jpg\"}}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":160,"wires":[[]]},{"id":"d0d844f4.e5d498","type":"delay","z":"f68b2e74.e9f06","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":40,"wires":[["437536cd.050098"]]},{"id":"437536cd.050098","type":"api-call-service","z":"f68b2e74.e9f06","name":"lamp bert off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lamp_bert\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":40,"wires":[[]]},{"id":"7e2587c3.5c7dc8","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":80,"wires":[["e02c6c75.54f97"],["a4931432.1f6ff8"]]},{"id":"a4931432.1f6ff8","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"IP Camera Bert is niet verbonden.\",\"title\":\"Prio1 Henk Security Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":120,"wires":[[]]},{"id":"e02c6c75.54f97","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"IP Camera Bert is niet verbonden.\",\"title\":\"Prio1 Henk Security Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":40,"wires":[[]]},{"id":"45228c03.f689b4","type":"server-state-changed","z":"3f7eeedd.048942","name":"+45C in kist","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.dht_sensor_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"45","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["76c4529e.ebf73c"],[]]},{"id":"76c4529e.ebf73c","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":240,"wires":[["e357fbac.e3c658"],["43f03c94.83f914"]]},{"id":"43f03c94.83f914","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Het is erg warm in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio1 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":280,"wires":[[]]},{"id":"e357fbac.e3c658","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Het is erg warm in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio1 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"alien\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":200,"wires":[[]]},{"id":"1f186d90.7489f2","type":"server-state-changed","z":"3f7eeedd.048942","name":"IP Cam Bert Watchdog","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.ip_camera_bert_watchdog","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":80,"wires":[["7e2587c3.5c7dc8"],[]]},{"id":"82383eac.0b756","type":"server-state-changed","z":"3b74ed43.806db2","name":"zigbee join on","server":"f76034e4.c52398","version":1,"entityidfilter":"input_boolean.zigbee_permit_join","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["4b2aba8b.3e8de4","cbcdd3b7.238c9"],["c4c440cc.d439a"]]},{"id":"4b2aba8b.3e8de4","type":"api-call-service","z":"3b74ed43.806db2","name":"bridge join on","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"zigbee2mqtt/bridge/config/permit_join\",\"payload\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":40,"wires":[[]]},{"id":"cbcdd3b7.238c9","type":"delay","z":"3b74ed43.806db2","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":100,"wires":[["2203e859.e6b038","c4c440cc.d439a"]]},{"id":"2203e859.e6b038","type":"api-call-service","z":"3b74ed43.806db2","name":"bridge join off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"zigbee2mqtt/bridge/config/permit_join\",\"payload\":\"false\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":100,"wires":[[]]},{"id":"c4c440cc.d439a","type":"api-call-service","z":"3b74ed43.806db2","name":"zigbee join off","server":"f76034e4.c52398","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.zigbee_permit_join\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":180,"wires":[[]]},{"id":"c5410438.fe8738","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":80,"wires":[["d0779916.9b7f78"],["9e034b25.1b1da8"]]},{"id":"9e034b25.1b1da8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Je moet om {{states.sensor.starttimewerk.state}} werken!\",\"title\":\"Wakker worden!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":120,"wires":[[]]},{"id":"d0779916.9b7f78","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Je moet om {{states.sensor.starttimewerk.state}} werken!\",\"title\":\"Wakker worden!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":40,"wires":[[]]},{"id":"d80e28f8.37da28","type":"server-state-changed","z":"3f7eeedd.048942","name":"+55C in kist","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.dht_sensor_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"55","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":90,"y":400,"wires":[["3f2fa51d.df63aa"],[]]},{"id":"3f2fa51d.df63aa","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":400,"wires":[["478166e.4b8f798"],["dffa9d6.aeafa6"]]},{"id":"dffa9d6.aeafa6","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Het is te heet in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio2 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":440,"wires":[[]]},{"id":"478166e.4b8f798","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Het is te heet in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio2 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"persistent\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":360,"wires":[[]]},{"id":"12de5e3e.9f95c2","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"tijd tot werk","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.cal_alert_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":80,"wires":[["bf754318.ea8ca"]]},{"id":"bf754318.ea8ca","type":"switch","z":"fcbdd419.d7ebd8","name":"minder dan uur","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"3590","vt":"num","v2":"3600","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["a700480a.527938"]]},{"id":"263be405.c2becc","type":"comment","z":"3f7eeedd.048942","name":"Henk temperatuur alarms","info":"","x":130,"y":200,"wires":[]},{"id":"39b91cac.3bfaf4","type":"comment","z":"3f7eeedd.048942","name":"Henk verbinding alarms","info":"","x":120,"y":500,"wires":[]},{"id":"3205ee16.c79232","type":"comment","z":"fb24cd08.93ae3","name":"Auto motion off","info":"","x":100,"y":40,"wires":[]},{"id":"fbb3a317.69201","type":"comment","z":"fb24cd08.93ae3","name":"Motion notifications","info":"","x":110,"y":160,"wires":[]},{"id":"a700480a.527938","type":"time-range-switch","z":"fcbdd419.d7ebd8","name":"alleen sochtends","lat":"52.19269","lon":"4.71886","startTime":"3:00","endTime":"12:30","startOffset":0,"endOffset":0,"x":530,"y":80,"wires":[["c5410438.fe8738"],[]]},{"id":"d94f70b4.df73d","type":"comment","z":"fcbdd419.d7ebd8","name":"Werk melding","info":"","x":90,"y":40,"wires":[]},{"id":"184d72b5.3cfffd","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Soundbar off","server":"f76034e4.c52398","version":1,"entityidfilter":"media_player.soundbar","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":200,"wires":[["4d27f0cf.ab2e7"],[]]},{"id":"817ee4f9.407718","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"volume 0.15","server":"f76034e4.c52398","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.soundbar","data":"{\"volume_level\":\"0.15\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":200,"wires":[[]]},{"id":"1329d609.58ad9a","type":"comment","z":"fcbdd419.d7ebd8","name":"Soundbar volume laag","info":"","x":120,"y":160,"wires":[]},{"id":"bc1b50ce.10cdd","type":"server-state-changed","z":"3f7eeedd.048942","name":"ServerBert off","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.serverbert","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":540,"wires":[["b376d637.208718"],[]]},{"id":"b376d637.208718","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":540,"wires":[["d671a712.e40e18"],["ec5a616c.1287f"]]},{"id":"ec5a616c.1287f","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"ServerBert is {% if is_state('binary_sensor.serverbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":580,"wires":[[]]},{"id":"d671a712.e40e18","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"ServerBert is {% if is_state('binary_sensor.serverbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"alien\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":500,"wires":[[]]},{"id":"bdcf49a.d3365b8","type":"server-state-changed","z":"3f7eeedd.048942","name":"AsusBert off","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.asusbert","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":680,"wires":[["874ed0e0.2f964"],[]]},{"id":"874ed0e0.2f964","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":680,"wires":[["aca63dfe.c5f29"],["d4d188b0.b303a8"]]},{"id":"d4d188b0.b303a8","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","version":0,"service_domain":"notify","service":"bert","data":"{\"message\":\"AsusBert is {% if is_state('binary_sensor.asusbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":720,"wires":[[]]},{"id":"aca63dfe.c5f29","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"AsusBert is {% if is_state('binary_sensor.asusbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"alien\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":640,"wires":[[]]},{"id":"c6d0d329.703b6","type":"comment","z":"fcbdd419.d7ebd8","name":"Bert melding naar school","info":"","x":130,"y":280,"wires":[]},{"id":"8438eab8.dd8818","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Bert op Leiden CS","server":"f76034e4.c52398","version":1,"entityidfilter":"person.bert_havekes","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Leiden Centraal","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":320,"wires":[["6ca7bd4b.1bd9b4"],[]]},{"id":"6ca7bd4b.1bd9b4","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Schooldag on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.school_dagen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":320,"wires":[["32fb0dff.385882"],[]]},{"id":"502ea1f2.7e86","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":320,"wires":[["a882313c.18711"],["654cf3c3.e0696c"]]},{"id":"654cf3c3.e0696c","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Vertrektijd {{ states.sensor.leiden_den_haag_hs.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.leiden_den_haag_hs.attributes.departure_platform}}, aankomst om {{ states.sensor.leiden_den_haag_hs.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.leiden_den_haag_hs.attributes.next}}.\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.leiden_den_haag_hs.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":360,"wires":[[]]},{"id":"a882313c.18711","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Vertrektijd {{ states.sensor.leiden_den_haag_hs.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.leiden_den_haag_hs.attributes.departure_platform}}, aankomst om {{ states.sensor.leiden_den_haag_hs.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.leiden_den_haag_hs.attributes.next}}.\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.leiden_den_haag_hs.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":280,"wires":[[]]},{"id":"32fb0dff.385882","type":"time-range-switch","z":"fcbdd419.d7ebd8","name":"alleen sochtends","lat":"52.19269","lon":"4.71886","startTime":"3:00","endTime":"10:30","startOffset":0,"endOffset":0,"x":570,"y":320,"wires":[["502ea1f2.7e86"],[]]},{"id":"2fdfe941.282a66","type":"comment","z":"fcbdd419.d7ebd8","name":"Bert melding van school","info":"","x":120,"y":440,"wires":[]},{"id":"190247f8.cb9588","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Bert op Den Haag HS","server":"f76034e4.c52398","version":1,"entityidfilter":"person.bert_havekes","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Den Haag HS","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":480,"wires":[["23c3042b.19a0dc"],[]]},{"id":"23c3042b.19a0dc","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Schooldag on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.school_dagen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":480,"wires":[["19de799.d651786"],[]]},{"id":"9efc6948.db7388","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":480,"wires":[["4132b8a6.d2faa8"],["8cc4ce64.6b36a"]]},{"id":"8cc4ce64.6b36a","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Vertrektijd {{ states.sensor.leiden_den_haag_hs.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.leiden_den_haag_hs.attributes.departure_platform}}, aankomst om {{ states.sensor.leiden_den_haag_hs.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.leiden_den_haag_hs.attributes.next}}\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.leiden_den_haag_hs.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":520,"wires":[[]]},{"id":"4132b8a6.d2faa8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Vertrektijd {{ states.sensor.den_haag_hs_leiden.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.den_haag_hs_leiden.attributes.departure_platform}}, aankomst om {{ states.sensor.den_haag_hs_leiden.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.den_haag_hs_leiden.attributes.next}}.\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.den_haag_hs_leiden.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":440,"wires":[[]]},{"id":"19de799.d651786","type":"time-range-switch","z":"fcbdd419.d7ebd8","name":"alleen smiddags of savonds","lat":"52.19269","lon":"4.71886","startTime":"10:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":600,"y":480,"wires":[["9efc6948.db7388"],[]]},{"id":"f4623743.b12868","type":"api-current-state","z":"fb24cd08.93ae3","name":"Alarm on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"alarm_control_panel.alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["73686ca4.721ec4"],[]]},{"id":"4a833063.d36f9","type":"comment","z":"fcbdd419.d7ebd8","name":"Alarm on, alerts on","info":"","x":110,"y":560,"wires":[]},{"id":"49c44feb.d985a","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Alarm on/off","server":"f76034e4.c52398","version":1,"entityidfilter":"alarm_control_panel.alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":680,"wires":[[]]},{"id":"99111bdd.bd66b8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"alerts on","server":"f76034e4.c52398","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.blueiris_alerts\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":760,"wires":[[]]},{"id":"ca09ea4c.a91bd8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"alerts off","server":"f76034e4.c52398","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.blueiris_alerts\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":580,"wires":[[]]},{"id":"af4c55ac.c53958","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Bert home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.bert_havekes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":640,"wires":[["45c42658.31f398"],[]]},{"id":"afc38b6e.229818","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Eliza home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eliza_amling","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":700,"wires":[["45c42658.31f398"],[]]},{"id":"14850b61.2c4055","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"Alarm off","server":"f76034e4.c52398","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.alarm\",\"code\":\"2609\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":660,"wires":[[]]},{"id":"79b6755b.24019c","type":"server-state-changed","z":"f68b2e74.e9f06","name":"lamp thom on","server":"f76034e4.c52398","version":1,"entityidfilter":"light.lamp_thom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":200,"wires":[["ff7bc8ab.ad07d8"],[]]},{"id":"ff7bc8ab.ad07d8","type":"api-current-state","z":"f68b2e74.e9f06","name":"Thom not home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.thom_havekes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":200,"wires":[[],[]]},{"id":"b42a3066.1b736","type":"delay","z":"f68b2e74.e9f06","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":200,"wires":[["15de06be.09d9d9"]]},{"id":"15de06be.09d9d9","type":"api-call-service","z":"f68b2e74.e9f06","name":"lamp thom off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lamp_thom\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":200,"wires":[[]]},{"id":"b7068342.41158","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Empty home","server":"f76034e4.c52398","version":1,"entityidfilter":"group.all_devices","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":90,"y":840,"wires":[[],[]]},{"id":"d7a751f6.6bca7","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"lampen off","server":"f76034e4.c52398","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":[\"group.all_lights\"]}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":840,"wires":[[]]},{"id":"29d4c2a9.a69dee","type":"comment","z":"fcbdd419.d7ebd8","name":"empty house, lights off","info":"","x":120,"y":800,"wires":[]},{"id":"4d27f0cf.ab2e7","type":"ha-wait-until","z":"fcbdd419.d7ebd8","name":"Soundbar on","server":"f76034e4.c52398","outputs":1,"entityId":"media_player.soundbar","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":290,"y":200,"wires":[["817ee4f9.407718"]]},{"id":"d752f254.06c95","type":"api-current-state","z":"f68b2e74.e9f06","name":"lamp bert on?","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.lamp_bert","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":40,"wires":[["d0d844f4.e5d498"],[]]},{"id":"10133e3.a94dec2","type":"light-scheduler","z":"f68b2e74.e9f06","settings":"dfb6c086.eca8a","events":"[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":240}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":240}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":240}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":240}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":240}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":300}},{\"start\":{\"dow\":2,\"mod\":1380},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":240}},{\"start\":{\"dow\":3,\"mod\":1380},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":1380},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1380},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1380},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1380},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1380},\"end\":{\"dow\":5,\"mod\":0}}]","topic":"","name":"night off","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"0","sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":80,"y":40,"wires":[[]]},{"id":"63681df4.1c9ca4","type":"cast-to-client","z":"fcbdd419.d7ebd8","name":"","url":"","contentType":"","message":"dit is een bericht","language":"nl","ip":"192.168.2.43","port":"","volume":"20","x":530,"y":1000,"wires":[["e86b1f2d.af1c5"]]},{"id":"5ee881e0.97204","type":"inject","z":"fcbdd419.d7ebd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1000,"wires":[["dcebda4d.2c3068"]]},{"id":"dcebda4d.2c3068","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"hm bert playing?","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.home_mini_bert","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":290,"y":1000,"wires":[["63681df4.1c9ca4"],["1b06bcca.c70c63"]]},{"id":"d5dfa72f.326c68","type":"cast-to-client","z":"fcbdd419.d7ebd8","name":"","url":"http://radio.truckers.fm/","contentType":"","message":"","language":"nl","ip":"192.168.2.43","port":"","volume":"20","x":870,"y":920,"wires":[[]]},{"id":"1b06bcca.c70c63","type":"cast-to-client","z":"fcbdd419.d7ebd8","name":"","url":"","contentType":"","message":"dit is een bericht","language":"nl","ip":"192.168.2.43","port":"","volume":"20","x":550,"y":1080,"wires":[[]]},{"id":"e86b1f2d.af1c5","type":"delay","z":"fcbdd419.d7ebd8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":960,"wires":[["d5dfa72f.326c68"]]},{"id":"4260b9f0.614518","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"deur bert on on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.deur_sensor_bert_on","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":80,"wires":[["d656e9d.e71ff18","e987dd57.d39ff"],[]]},{"id":"d656e9d.e71ff18","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":80,"wires":[["bb9f2e9b.85065"]]},{"id":"bb9f2e9b.85065","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert on off","server":"f76034e4.c52398","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.deur_sensor_bert_on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":80,"wires":[[]]},{"id":"1efb27a5.659ce8","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"deur bert off on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.deur_sensor_bert_off","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":200,"wires":[["f637b708.022138","b34e8253.13038"],[]]},{"id":"f637b708.022138","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":200,"wires":[["cd838c4a.d14dd"]]},{"id":"cd838c4a.d14dd","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert off off","server":"f76034e4.c52398","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.deur_sensor_bert_off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":200,"wires":[[]]},{"id":"e987dd57.d39ff","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert on","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"deurbert\",\"payload\":\"ON\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":140,"wires":[[]]},{"id":"b34e8253.13038","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"deurbert\",\"payload\":\"OFF\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":260,"wires":[[]]},{"id":"12904181.dfaeae","type":"comment","z":"2d99bc64.b59ef4","name":"deur bert states","info":"","x":100,"y":40,"wires":[]},{"id":"5cdb6679.4613b8","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"raam bert on on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.raam_sensor_bert_on","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":380,"wires":[["e5a98772.249198","a239cb51.9e6938"],[]]},{"id":"e5a98772.249198","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":380,"wires":[["587b45c2.bb754c"]]},{"id":"587b45c2.bb754c","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert on off","server":"f76034e4.c52398","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.raam_sensor_bert_on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":380,"wires":[[]]},{"id":"c1c542f8.6df82","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"raam bert off on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.raam_sensor_bert_off","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":500,"wires":[["8e62b030.2b954","f3b8654.e3a8298"],[]]},{"id":"8e62b030.2b954","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":500,"wires":[["84fb2f97.34fa3"]]},{"id":"84fb2f97.34fa3","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert off off","server":"f76034e4.c52398","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.raam_sensor_bert_off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":500,"wires":[[]]},{"id":"a239cb51.9e6938","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert on","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"raambert\",\"payload\":\"ON\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":440,"wires":[[]]},{"id":"f3b8654.e3a8298","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"raambert\",\"payload\":\"OFF\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":560,"wires":[[]]},{"id":"2a0f2b0e.f051e4","type":"comment","z":"2d99bc64.b59ef4","name":"raam bert states","info":"","x":100,"y":340,"wires":[]},{"id":"8197cdd8.c4aa","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson black","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_black","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":90,"y":960,"wires":[["27925214.3f0f3e"],[]]},{"id":"4ddff233.e58e2c","type":"comment","z":"3f7eeedd.048942","name":"Espon ink","info":"","x":80,"y":920,"wires":[]},{"id":"341e4e2a.608662","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson cyan","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_cyan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":90,"y":1020,"wires":[["27925214.3f0f3e"],[]]},{"id":"aa7b5a14.50d658","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson magenta","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_magenta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":100,"y":1080,"wires":[["27925214.3f0f3e"],[]]},{"id":"a5600276.6552a","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson yellow","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_yellow","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":90,"y":1140,"wires":[["27925214.3f0f3e"],[]]},{"id":"27925214.3f0f3e","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":1040,"wires":[["be8e7672.a44ea8"],["a02d0900.931f88"]]},{"id":"a02d0900.931f88","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","version":1,"service_domain":"notify","service":"bert","entityId":"","data":"{\"message\":\"Controleer Epson printer inkt, bijna leeg.\",\"title\":\"Prio0 Henk melding!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":1080,"wires":[[]]},{"id":"be8e7672.a44ea8","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","version":1,"service_domain":"notify","service":"pushoverbert","entityId":"","data":"{\"message\":\"Controleer Epson printer inkt, bijna leeg.\",\"title\":\"Prio0 Henk melding!\",\"target\":\"nokiabert\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1000,"wires":[[]]},{"id":"6e13e579.d6bd0c","type":"switch","z":"f68b2e74.e9f06","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":40,"wires":[["d752f254.06c95"],[]]},{"id":"a1a7fd56.cf1ec","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"tv marc","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.tv_marc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":1160,"wires":[["b2eed817.333ff8"]]},{"id":"b2eed817.333ff8","type":"switch","z":"fcbdd419.d7ebd8","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1160,"wires":[["2ae37179.1d685e"],["1789537f.ca03fd"]]},{"id":"1789537f.ca03fd","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"led strip marc off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.led_strip_marc\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":1200,"wires":[[]]},{"id":"2ae37179.1d685e","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"led strip marc on","server":"f76034e4.c52398","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.led_strip_marc\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1140,"wires":[[]]},{"id":"73686ca4.721ec4","type":"api-current-state","z":"fb24cd08.93ae3","name":"blue iris off","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.blueiris_alerts","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":200,"wires":[["7af7cdef.943424"],[]]},{"id":"6edc0b8.94d8cf4","type":"server-state-changed","z":"3f7eeedd.048942","name":"samsung toner","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.samsung_scx_3200_series_192_168_2_52_toner_black","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":100,"y":1200,"wires":[["df7c9da0.5ddb7"],[]]},{"id":"df7c9da0.5ddb7","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":1200,"wires":[["62860b5c.c5ec64"],["13eec98c.72bc56"]]},{"id":"13eec98c.72bc56","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","version":1,"service_domain":"notify","service":"bert","entityId":"","data":"{\"message\":\"Controleer Samsung printer inkt, bijna leeg.\",\"title\":\"Prio0 Henk melding!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":1240,"wires":[[]]},{"id":"62860b5c.c5ec64","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","version":1,"service_domain":"notify","service":"pushoverbert","entityId":"","data":"{\"message\":\"Controleer Samsung inkt, bijna leeg.\",\"title\":\"Prio0 Henk melding!\",\"target\":\"nokiabert\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1160,"wires":[[]]},{"id":"84b4a36.8b9536","type":"inject","z":"af363966.f0ca38","name":"","topic":"every 10 sec","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["70e80201.0dc9ac","31a72452.4dc15c","f92fde59.040e6","d475d23a.2622c","e6ebcd97.7cc3","74c1ab35.3d5c34","d33f8668.39dfb8"]]},{"id":"70e80201.0dc9ac","type":"api-current-state","z":"af363966.f0ca38","name":"bert","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bert_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":80,"wires":[["829cf5bb.e35938"]]},{"id":"31a72452.4dc15c","type":"api-current-state","z":"af363966.f0ca38","name":"marc","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.marc_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":200,"wires":[["a01a0b.8a5635f8"]]},{"id":"f92fde59.040e6","type":"api-current-state","z":"af363966.f0ca38","name":"thom","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.thom_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":320,"wires":[["517693e4.99c55c"]]},{"id":"d475d23a.2622c","type":"api-current-state","z":"af363966.f0ca38","name":"eddy","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eddy_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":440,"wires":[["434fd025.ef929"]]},{"id":"e6ebcd97.7cc3","type":"api-current-state","z":"af363966.f0ca38","name":"jacqueline","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jacqueline_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":560,"wires":[["442f6eac.e8195"]]},{"id":"74c1ab35.3d5c34","type":"api-current-state","z":"af363966.f0ca38","name":"eliza","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eliza_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":680,"wires":[["da158fbb.104f9"]]},{"id":"a9d9c713.a3b1f8","type":"comment","z":"af363966.f0ca38","name":"empty house routines","info":"","x":120,"y":40,"wires":[]},{"id":"14891135.dfcb8f","type":"api-call-service","z":"af363966.f0ca38","name":"all lights off","server":"f76034e4.c52398","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":840,"wires":[["e322e66b.f30888"]]},{"id":"82677fb5.657fd","type":"api-call-service","z":"af363966.f0ca38","name":"hm thom off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_thom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":340,"wires":[["b33446ee.8fc798"]]},{"id":"b33446ee.8fc798","type":"api-call-service","z":"af363966.f0ca38","name":"lamp thom off","server":"f76034e4.c52398","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lamp_thom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":340,"wires":[[]]},{"id":"de9b4647.d8ab98","type":"api-call-service","z":"af363966.f0ca38","name":"hm marc off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.jbl_link_20","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":220,"wires":[["e1218c90.d11f9"]]},{"id":"b719c99a.096738","type":"api-call-service","z":"af363966.f0ca38","name":"lamp en led strip marc off","server":"f76034e4.c52398","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lamp_marc, light.led_strip_marc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":220,"wires":[[]]},{"id":"e1218c90.d11f9","type":"api-call-service","z":"af363966.f0ca38","name":"tv marc off","server":"f76034e4.c52398","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.tv_marc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":220,"wires":[["b719c99a.096738"]]},{"id":"829cf5bb.e35938","type":"switch","z":"af363966.f0ca38","name":"locatie?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thuis","vt":"str"},{"t":"eq","v":"Net thuis","vt":"str"},{"t":"eq","v":"Net weg","vt":"str"},{"t":"eq","v":"Weg","vt":"str"},{"t":"eq","v":"Lang weg","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":80,"wires":[[],[],[],["25e260f9.f3c76"],[]]},{"id":"a01a0b.8a5635f8","type":"switch","z":"af363966.f0ca38","name":"locatie?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thuis","vt":"str"},{"t":"eq","v":"Net thuis","vt":"str"},{"t":"eq","v":"Net weg","vt":"str"},{"t":"eq","v":"Weg","vt":"str"},{"t":"eq","v":"Lang weg","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":200,"wires":[[],[],[],["de9b4647.d8ab98"],[]]},{"id":"517693e4.99c55c","type":"switch","z":"af363966.f0ca38","name":"locatie?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thuis","vt":"str"},{"t":"eq","v":"Net thuis","vt":"str"},{"t":"eq","v":"Net weg","vt":"str"},{"t":"eq","v":"Weg","vt":"str"},{"t":"eq","v":"Lang weg","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":320,"wires":[[],[],[],["82677fb5.657fd"],[]]},{"id":"434fd025.ef929","type":"switch","z":"af363966.f0ca38","name":"locatie?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thuis","vt":"str"},{"t":"eq","v":"Net thuis","vt":"str"},{"t":"eq","v":"Net weg","vt":"str"},{"t":"eq","v":"Weg","vt":"str"},{"t":"eq","v":"Lang weg","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":440,"wires":[[],[],[],[],[]]},{"id":"442f6eac.e8195","type":"switch","z":"af363966.f0ca38","name":"locatie?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thuis","vt":"str"},{"t":"eq","v":"Net thuis","vt":"str"},{"t":"eq","v":"Net weg","vt":"str"},{"t":"eq","v":"Weg","vt":"str"},{"t":"eq","v":"Lang weg","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":560,"wires":[[],[],[],[],[]]},{"id":"da158fbb.104f9","type":"switch","z":"af363966.f0ca38","name":"locatie?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thuis","vt":"str"},{"t":"eq","v":"Net thuis","vt":"str"},{"t":"eq","v":"Net weg","vt":"str"},{"t":"eq","v":"Weg","vt":"str"},{"t":"eq","v":"Lang weg","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":680,"wires":[[],[],[],[],[]]},{"id":"abc3bc6c.a9edb","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"bert weg","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"Weg","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.bert_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":1260,"wires":[["d756015.af91a"],[]]},{"id":"d756015.af91a","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"marc weg","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"Weg","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.marc_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":1300,"wires":[["b456f026.0ca71"],[]]},{"id":"b456f026.0ca71","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"thom weg","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"Weg","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.thom_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":1340,"wires":[["ec98d70.c5ba328"],[]]},{"id":"ec98d70.c5ba328","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"eddy weg","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"Weg","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eddy_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":1380,"wires":[["da0eeec1.498e9"],[]]},{"id":"da0eeec1.498e9","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"jacqueline weg","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"Weg","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jacqueline_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":120,"y":1420,"wires":[["2981a5fb.63d65a"],[]]},{"id":"2981a5fb.63d65a","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"eliza weg","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"Weg","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.eliza_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":1460,"wires":[["7ec2991b.1c9538"],[]]},{"id":"7ec2991b.1c9538","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"home occupied off","server":"f76034e4.c52398","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":1460,"wires":[[]]},{"id":"d33f8668.39dfb8","type":"api-current-state","z":"af363966.f0ca38","name":"home","server":"f76034e4.c52398","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":780,"wires":[["c263eb59.e634a8"]]},{"id":"c263eb59.e634a8","type":"switch","z":"af363966.f0ca38","name":"occupied?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":780,"wires":[[],["a57641d3.5656e","5d011d25.3286a4","ebbeed69.84466"]]},{"id":"25e260f9.f3c76","type":"api-call-service","z":"af363966.f0ca38","name":"hm bert off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_bert","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":100,"wires":[["210e1ce0.bbd854"]]},{"id":"210e1ce0.bbd854","type":"api-call-service","z":"af363966.f0ca38","name":"lamp bert off","server":"f76034e4.c52398","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lamp_bert","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":100,"wires":[[]]},{"id":"a57641d3.5656e","type":"delay","z":"af363966.f0ca38","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":840,"wires":[["14891135.dfcb8f"]]},{"id":"5d011d25.3286a4","type":"api-current-state","z":"af363966.f0ca38","name":"nacht lamp on?","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.nacht_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":880,"wires":[["27709cda.f28a54"],[]]},{"id":"27709cda.f28a54","type":"delay","z":"af363966.f0ca38","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":880,"wires":[["7c3a62ff.8354fc"]]},{"id":"7c3a62ff.8354fc","type":"api-call-service","z":"af363966.f0ca38","name":"nacht lamp on","server":"f76034e4.c52398","version":1,"service_domain":"light","service":"turn_on","entityId":"light.nacht_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":880,"wires":[[]]},{"id":"45c42658.31f398","type":"delay","z":"fcbdd419.d7ebd8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":660,"wires":[["14850b61.2c4055"]]},{"id":"afe18842.71ac38","type":"inject","z":"fcbdd419.d7ebd8","name":"","topic":"every 10 sec","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1300,"wires":[["abc3bc6c.a9edb"]]},{"id":"e322e66b.f30888","type":"api-call-service","z":"af363966.f0ca38","name":"hm huiskamer en soundbar off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_huiskamer, media_player.home_mini_huiskamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":840,"wires":[[]]},{"id":"cdfa6cb.d148d9","type":"api-call-service","z":"af363966.f0ca38","name":"soundbar on","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_on","entityId":"media_player.soundbar","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":800,"wires":[["489ff0aa.f93d6"]]},{"id":"489ff0aa.f93d6","type":"api-call-service","z":"af363966.f0ca38","name":"volume 0.15","server":"f76034e4.c52398","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.soundbar","data":"{\"volume_level\":\"0.15\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":800,"wires":[[]]},{"id":"ebbeed69.84466","type":"ha-wait-until","z":"af363966.f0ca38","name":"occupied","server":"f76034e4.c52398","outputs":1,"entityId":"input_boolean.home_occupied","property":"","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":720,"y":800,"wires":[["cdfa6cb.d148d9"]]},{"id":"af83d331.8f599","type":"server-state-changed","z":"77e01c48.912644","name":"alarm armed away","server":"f76034e4.c52398","version":1,"entityidfilter":"alarm_control_panel.alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"armed_away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":100,"wires":[["56ceb285.8e36fc"],[]]},{"id":"78b12db2.0d4db4","type":"server-state-changed","z":"77e01c48.912644","name":"alarm armed home","server":"f76034e4.c52398","version":1,"entityidfilter":"alarm_control_panel.alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"armed_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":160,"wires":[["56ceb285.8e36fc"],[]]},{"id":"56ceb285.8e36fc","type":"ha-wait-until","z":"77e01c48.912644","name":"alarm pending","server":"f76034e4.c52398","outputs":1,"entityId":"alarm_control_panel.alarm","property":"state","comparator":"is","value":"pending","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":340,"y":120,"wires":[["bb3cce85.d5cc2","3ce2bc3c.699994","61d13f2f.6b5ea","33c999d3.144086"]]},{"id":"3ce2bc3c.699994","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/beep.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"30","x":570,"y":100,"wires":[["b110628b.94158"]]},{"id":"b110628b.94158","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":100,"wires":[["9326443.88d71b8"]]},{"id":"bb3cce85.d5cc2","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/beep.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"20","x":570,"y":60,"wires":[["7d691eaf.697b7"]]},{"id":"61d13f2f.6b5ea","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/beep.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"20","x":570,"y":140,"wires":[["68e8295f.5bb0a8"]]},{"id":"33c999d3.144086","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/beep.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"20","x":570,"y":180,"wires":[["55444c82.359f04"]]},{"id":"31526161.509e3e","type":"server-state-changed","z":"77e01c48.912644","name":"alarm pending","server":"f76034e4.c52398","version":1,"entityidfilter":"alarm_control_panel.alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"pending","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":320,"wires":[["a46a1059.75ddc"],[]]},{"id":"a46a1059.75ddc","type":"ha-wait-until","z":"77e01c48.912644","name":"alarm triggered","server":"f76034e4.c52398","outputs":1,"entityId":"alarm_control_panel.alarm","property":"state","comparator":"is","value":"triggered","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":340,"y":320,"wires":[["e2961982.06d1b8","b7ca37c7.7fc2c8","564dc80f.ed5728","d8f7aed8.7f52a","b4133733.0beb98","9171018b.593b9","1853e67b.4b30ba","aaab1247.68b73"]]},{"id":"b7ca37c7.7fc2c8","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":570,"y":260,"wires":[[]]},{"id":"e2961982.06d1b8","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":570,"y":300,"wires":[[]]},{"id":"564dc80f.ed5728","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":570,"y":340,"wires":[[]]},{"id":"d8f7aed8.7f52a","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":570,"y":380,"wires":[[]]},{"id":"55720528.f1048c","type":"api-call-service","z":"77e01c48.912644","name":"hm huiskamer off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_huiskamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":620,"wires":[[]]},{"id":"d168a06b.b72f7","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":620,"wires":[["55720528.f1048c"]]},{"id":"95a84719.069988","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":810,"y":260,"wires":[[]]},{"id":"471cc32f.4156ec","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":810,"y":300,"wires":[[]]},{"id":"71a17346.b99afc","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":810,"y":340,"wires":[[]]},{"id":"27fde823.588828","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":810,"y":380,"wires":[[]]},{"id":"de680b8.667b5f8","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":1050,"y":260,"wires":[[]]},{"id":"74f7f8be.641248","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":1050,"y":300,"wires":[[]]},{"id":"b247e996.fb1228","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":1050,"y":340,"wires":[[]]},{"id":"9c1ef0b5.c0e6e","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":1050,"y":380,"wires":[[]]},{"id":"cea575c2.2a5258","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":1290,"y":260,"wires":[[]]},{"id":"d919fd17.6b881","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":1290,"y":300,"wires":[[]]},{"id":"fce899d6.ab4d38","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":1290,"y":340,"wires":[[]]},{"id":"84ddaf42.d4d4d","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":1290,"y":380,"wires":[[]]},{"id":"e5d5d73b.dbe548","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":570,"y":440,"wires":[[]]},{"id":"81a807c1.bef5f8","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":570,"y":480,"wires":[[]]},{"id":"a1abc98c.0aab08","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":570,"y":520,"wires":[[]]},{"id":"d1331be2.9057e8","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":570,"y":560,"wires":[[]]},{"id":"8f99e3fe.7279f","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":810,"y":440,"wires":[[]]},{"id":"be883dc0.874d1","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":810,"y":480,"wires":[[]]},{"id":"23e88426.ce9cec","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":810,"y":520,"wires":[[]]},{"id":"dc509882.848f18","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":810,"y":560,"wires":[[]]},{"id":"f6efce12.b86ae","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":1050,"y":440,"wires":[[]]},{"id":"28e9c405.84261c","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":1050,"y":480,"wires":[[]]},{"id":"a4acb0f5.b0ff2","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":1050,"y":520,"wires":[[]]},{"id":"b978486a.c17cd8","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":1050,"y":560,"wires":[[]]},{"id":"6a8dc6ef.47d398","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":1290,"y":440,"wires":[[]]},{"id":"8e9c0cbb.453ba","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":1290,"y":480,"wires":[[]]},{"id":"46997d45.caf0f4","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":1290,"y":520,"wires":[[]]},{"id":"5ddaf9c.ab97308","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":1290,"y":560,"wires":[[]]},{"id":"1747e6a8.eee3b9","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":570,"y":620,"wires":[[]]},{"id":"fc11cddd.1b097","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":570,"y":660,"wires":[[]]},{"id":"58a08768.951278","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":570,"y":700,"wires":[[]]},{"id":"337de130.6675ce","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":570,"y":740,"wires":[[]]},{"id":"c2f06552.977d88","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.41","port":"","volume":"70","x":810,"y":620,"wires":[[]]},{"id":"9f1de3.2523b22","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.43","port":"","volume":"70","x":810,"y":660,"wires":[[]]},{"id":"edcc0c5f.585fa","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.45","port":"","volume":"70","x":810,"y":700,"wires":[[]]},{"id":"138259fe.8efb46","type":"cast-to-client","z":"77e01c48.912644","name":"","url":"https://thuus.duckdns.org:444/local/alarm.mp3","contentType":"audio","message":"","language":"","ip":"192.168.2.47","port":"","volume":"70","x":810,"y":740,"wires":[[]]},{"id":"b4133733.0beb98","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["95a84719.069988","e90ee6b8.0388c8"]]},{"id":"9171018b.593b9","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":280,"wires":[["471cc32f.4156ec","d077f527.d3c878"]]},{"id":"1853e67b.4b30ba","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":320,"wires":[["71a17346.b99afc","cf79c6c.102f438"]]},{"id":"aaab1247.68b73","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":360,"wires":[["27fde823.588828","cb0c042f.4cfa38"]]},{"id":"e90ee6b8.0388c8","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":240,"wires":[["de680b8.667b5f8","e434994.6320e68"]]},{"id":"d077f527.d3c878","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":280,"wires":[["74f7f8be.641248","41e2710a.18d9b"]]},{"id":"cf79c6c.102f438","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":320,"wires":[["b247e996.fb1228","ad78ebc6.067048"]]},{"id":"cb0c042f.4cfa38","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":360,"wires":[["9c1ef0b5.c0e6e","1aabf1ed.478e8e"]]},{"id":"e434994.6320e68","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":240,"wires":[["7de72794.eae578","cea575c2.2a5258"]]},{"id":"41e2710a.18d9b","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":280,"wires":[["54b94a68.96a5f4","d919fd17.6b881"]]},{"id":"ad78ebc6.067048","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":320,"wires":[["e3e80b95.88fda8","fce899d6.ab4d38"]]},{"id":"1aabf1ed.478e8e","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":360,"wires":[["dc651ed6.8ba44","84ddaf42.d4d4d"]]},{"id":"7de72794.eae578","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":240,"wires":[["ec8b33a6.1fe6f","e5d5d73b.dbe548"]]},{"id":"54b94a68.96a5f4","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":280,"wires":[["cf23e1ff.cc85a","81a807c1.bef5f8"]]},{"id":"e3e80b95.88fda8","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":320,"wires":[["cf383dd9.52c48","a1abc98c.0aab08"]]},{"id":"dc651ed6.8ba44","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":360,"wires":[["90e27722.6273f8","d1331be2.9057e8"]]},{"id":"ec8b33a6.1fe6f","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":420,"wires":[["8f99e3fe.7279f","2107f2fe.9a279e"]]},{"id":"cf23e1ff.cc85a","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":460,"wires":[["be883dc0.874d1","ab2a5635.f3ebc8"]]},{"id":"cf383dd9.52c48","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":500,"wires":[["23e88426.ce9cec","ff3c0aea.249a28"]]},{"id":"90e27722.6273f8","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":540,"wires":[["dc509882.848f18","e0a42d69.8412d"]]},{"id":"2107f2fe.9a279e","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":420,"wires":[["f6efce12.b86ae","53f18099.7f605"]]},{"id":"ab2a5635.f3ebc8","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":460,"wires":[["28e9c405.84261c","ddf6a4dd.68aa78"]]},{"id":"ff3c0aea.249a28","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":500,"wires":[["a4acb0f5.b0ff2","6eecd3c2.68748c"]]},{"id":"e0a42d69.8412d","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":540,"wires":[["b978486a.c17cd8","9c93765f.761e28"]]},{"id":"53f18099.7f605","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":420,"wires":[["6a8dc6ef.47d398","27b07bac.779dd4"]]},{"id":"ddf6a4dd.68aa78","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":460,"wires":[["8e9c0cbb.453ba","529b3bd4.1e3c34"]]},{"id":"6eecd3c2.68748c","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":500,"wires":[["46997d45.caf0f4","c377af6c.f6337"]]},{"id":"9c93765f.761e28","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":540,"wires":[["5ddaf9c.ab97308","61b509e1.51f628"]]},{"id":"27b07bac.779dd4","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":420,"wires":[["1747e6a8.eee3b9","6392eb83.3ca5f4"]]},{"id":"529b3bd4.1e3c34","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":460,"wires":[["fc11cddd.1b097","d967edb6.a6b5c"]]},{"id":"c377af6c.f6337","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":500,"wires":[["58a08768.951278","93662a53.937c28"]]},{"id":"61b509e1.51f628","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":540,"wires":[["337de130.6675ce","440c281c.d78988"]]},{"id":"6392eb83.3ca5f4","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":600,"wires":[["c2f06552.977d88","d168a06b.b72f7"]]},{"id":"d967edb6.a6b5c","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":640,"wires":[["9f1de3.2523b22","a1d5ebb9.89cbb8"]]},{"id":"93662a53.937c28","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":680,"wires":[["edcc0c5f.585fa","252045dc.65338a"]]},{"id":"440c281c.d78988","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":720,"wires":[["138259fe.8efb46","aed6eb73.137018"]]},{"id":"394c2ddd.133c32","type":"api-call-service","z":"77e01c48.912644","name":"hm bert off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_bert","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":660,"wires":[[]]},{"id":"a1d5ebb9.89cbb8","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":660,"wires":[["394c2ddd.133c32"]]},{"id":"6930e3e3.e9a2dc","type":"api-call-service","z":"77e01c48.912644","name":"jbl link 20 off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.jbl_link_20","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":700,"wires":[[]]},{"id":"252045dc.65338a","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":700,"wires":[["6930e3e3.e9a2dc"]]},{"id":"329786fd.db75fa","type":"api-call-service","z":"77e01c48.912644","name":"hm thom off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_thom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":740,"wires":[[]]},{"id":"aed6eb73.137018","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":740,"wires":[["329786fd.db75fa"]]},{"id":"5aec54cb.b466dc","type":"api-call-service","z":"77e01c48.912644","name":"hm huiskamer off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_huiskamer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":60,"wires":[[]]},{"id":"9326443.88d71b8","type":"api-call-service","z":"77e01c48.912644","name":"hm bert off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_bert","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":100,"wires":[[]]},{"id":"90f96186.bdf86","type":"api-call-service","z":"77e01c48.912644","name":"jbl link 20 off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.jbl_link_20","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":140,"wires":[[]]},{"id":"bae31846.95bf68","type":"api-call-service","z":"77e01c48.912644","name":"hm thom off","server":"f76034e4.c52398","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_mini_thom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":180,"wires":[[]]},{"id":"7d691eaf.697b7","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":60,"wires":[["5aec54cb.b466dc"]]},{"id":"68e8295f.5bb0a8","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":140,"wires":[["90f96186.bdf86"]]},{"id":"55444c82.359f04","type":"delay","z":"77e01c48.912644","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":180,"wires":[["bae31846.95bf68"]]}]