node-red/flows.json
[{"id":"3f7eeedd.048942","type":"tab","label":"notifications","disabled":false,"info":""},{"id":"f68b2e74.e9f06","type":"tab","label":"lichten","disabled":false,"info":""},{"id":"fb24cd08.93ae3","type":"tab","label":"cameras","disabled":false,"info":""},{"id":"3b74ed43.806db2","type":"tab","label":"zigbee2mqtt","disabled":false,"info":""},{"id":"fcbdd419.d7ebd8","type":"tab","label":"routines","disabled":false,"info":""},{"id":"af363966.f0ca38","type":"tab","label":"alarm triggers","disabled":false,"info":""},{"id":"2d99bc64.b59ef4","type":"tab","label":"sensors","disabled":false,"info":""},{"id":"f76034e4.c52398","type":"server","z":"","name":"Home Assistant"},{"id":"4702de5.b50a52","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dfb6c086.eca8a","type":"light-scheduler-settings","z":"","name":"Thuus","latitude":"52.1926938","longitude":"4.7188603"},{"id":"14c3ce44.37f7c2","type":"server-state-changed","z":"fb24cd08.93ae3","name":"IP Camera Bert motion on","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.ip_camera_bert_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":80,"wires":[["e5f57c7f.09417"],[]]},{"id":"e5f57c7f.09417","type":"delay","z":"fb24cd08.93ae3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["d7cbc44e.2251d8"]]},{"id":"d7cbc44e.2251d8","type":"api-call-service","z":"fb24cd08.93ae3","name":"IP Camera Bert motion off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"BlueIris/Cam1/MOTION_A\",\"payload\":\"OFF\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":80,"wires":[[]]},{"id":"1ab44a51.fb2246","type":"server-state-changed","z":"fb24cd08.93ae3","name":"IP Camera Bert motion on","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.ip_camera_bert_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":200,"wires":[["f4623743.b12868"],[]]},{"id":"7af7cdef.943424","type":"api-call-service","z":"fb24cd08.93ae3","name":"screenshot","server":"f76034e4.c52398","service_domain":"camera","service":"snapshot","data":"{\"entity_id\":\"camera.ip_camera_bert\",\"filename\":\"/config/www/blueiris/ipcamera.jpg\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":200,"wires":[["558eb7a8.b88658"]]},{"id":"558eb7a8.b88658","type":"api-current-state","z":"fb24cd08.93ae3","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":200,"wires":[["f1ea37fc.f614a8"],["9b4402ce.afade"]]},{"id":"9b4402ce.afade","type":"api-call-service","z":"fb24cd08.93ae3","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Beweging gedetecteerd in slaapkamer Bert:\",\"title\":\"Prio1 Henk Security Alarm!\",\"data\":{\"file\":\"/config/www/blueiris/ipcamera.jpg\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":240,"wires":[[]]},{"id":"f1ea37fc.f614a8","type":"api-call-service","z":"fb24cd08.93ae3","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Beweging gedetecteerd in slaapkamer Bert:\",\"title\":\"Prio1 Henk Security Alarm!\",\"data\":{\"file\":{\"path\":\"/local/blueiris/ipcamera.jpg\"}}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":160,"wires":[[]]},{"id":"d0d844f4.e5d498","type":"delay","z":"f68b2e74.e9f06","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":40,"wires":[["437536cd.050098"]]},{"id":"437536cd.050098","type":"api-call-service","z":"f68b2e74.e9f06","name":"lamp bert off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lamp_bert\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":40,"wires":[[]]},{"id":"7e2587c3.5c7dc8","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":80,"wires":[["e02c6c75.54f97"],["a4931432.1f6ff8"]]},{"id":"a4931432.1f6ff8","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"IP Camera Bert is niet verbonden.\",\"title\":\"Prio1 Henk Security Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":120,"wires":[[]]},{"id":"e02c6c75.54f97","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"IP Camera Bert is niet verbonden.\",\"title\":\"Prio1 Henk Security Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":40,"wires":[[]]},{"id":"45228c03.f689b4","type":"server-state-changed","z":"3f7eeedd.048942","name":"+45C in kist","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.dht_sensor_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"45","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["76c4529e.ebf73c"],[]]},{"id":"76c4529e.ebf73c","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":240,"wires":[["e357fbac.e3c658"],["43f03c94.83f914"]]},{"id":"43f03c94.83f914","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Het is erg warm in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio1 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":280,"wires":[[]]},{"id":"e357fbac.e3c658","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Het is erg warm in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio1 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"alien\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":200,"wires":[[]]},{"id":"1f186d90.7489f2","type":"server-state-changed","z":"3f7eeedd.048942","name":"IP Cam Bert Watchdog","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.ip_camera_bert_watchdog","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":80,"wires":[["7e2587c3.5c7dc8"],[]]},{"id":"82383eac.0b756","type":"server-state-changed","z":"3b74ed43.806db2","name":"zigbee join on","server":"f76034e4.c52398","version":1,"entityidfilter":"input_boolean.zigbee_permit_join","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["4b2aba8b.3e8de4","cbcdd3b7.238c9"],["c4c440cc.d439a"]]},{"id":"4b2aba8b.3e8de4","type":"api-call-service","z":"3b74ed43.806db2","name":"bridge join on","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"zigbee2mqtt/bridge/config/permit_join\",\"payload\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":40,"wires":[[]]},{"id":"cbcdd3b7.238c9","type":"delay","z":"3b74ed43.806db2","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":100,"wires":[["2203e859.e6b038","c4c440cc.d439a"]]},{"id":"2203e859.e6b038","type":"api-call-service","z":"3b74ed43.806db2","name":"bridge join off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"zigbee2mqtt/bridge/config/permit_join\",\"payload\":\"false\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":100,"wires":[[]]},{"id":"c4c440cc.d439a","type":"api-call-service","z":"3b74ed43.806db2","name":"zigbee join off","server":"f76034e4.c52398","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.zigbee_permit_join\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":180,"wires":[[]]},{"id":"c5410438.fe8738","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":80,"wires":[["d0779916.9b7f78"],["9e034b25.1b1da8"]]},{"id":"9e034b25.1b1da8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Je moet om {{states.sensor.starttimewerk.state}} werken!\",\"title\":\"Wakker worden!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":120,"wires":[[]]},{"id":"d0779916.9b7f78","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Je moet om {{states.sensor.starttimewerk.state}} werken!\",\"title\":\"Wakker worden!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":40,"wires":[[]]},{"id":"d80e28f8.37da28","type":"server-state-changed","z":"3f7eeedd.048942","name":"+55C in kist","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.dht_sensor_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"55","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":90,"y":400,"wires":[["3f2fa51d.df63aa"],[]]},{"id":"3f2fa51d.df63aa","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":400,"wires":[["478166e.4b8f798"],["dffa9d6.aeafa6"]]},{"id":"dffa9d6.aeafa6","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Het is te heet in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio2 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":440,"wires":[[]]},{"id":"478166e.4b8f798","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Het is te heet in de kist. Temperatuur is {{ states.sensor.dht_sensor_temperature.state}} 째C\",\"title\":\"Prio2 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"persistent\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":360,"wires":[[]]},{"id":"12de5e3e.9f95c2","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"tijd tot werk","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.cal_alert_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":80,"wires":[["bf754318.ea8ca"]]},{"id":"bf754318.ea8ca","type":"switch","z":"fcbdd419.d7ebd8","name":"minder dan uur","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"3590","vt":"num","v2":"3600","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["a700480a.527938"]]},{"id":"263be405.c2becc","type":"comment","z":"3f7eeedd.048942","name":"Henk temperatuur alarms","info":"","x":130,"y":200,"wires":[]},{"id":"39b91cac.3bfaf4","type":"comment","z":"3f7eeedd.048942","name":"Henk verbinding alarms","info":"","x":120,"y":500,"wires":[]},{"id":"3205ee16.c79232","type":"comment","z":"fb24cd08.93ae3","name":"Auto motion off","info":"","x":100,"y":40,"wires":[]},{"id":"fbb3a317.69201","type":"comment","z":"fb24cd08.93ae3","name":"Motion notifications","info":"","x":110,"y":160,"wires":[]},{"id":"a700480a.527938","type":"time-range-switch","z":"fcbdd419.d7ebd8","name":"alleen sochtends","lat":"52.19269","lon":"4.71886","startTime":"3:00","endTime":"12:30","startOffset":0,"endOffset":0,"x":530,"y":80,"wires":[["c5410438.fe8738"],[]]},{"id":"d94f70b4.df73d","type":"comment","z":"fcbdd419.d7ebd8","name":"Werk melding","info":"","x":90,"y":40,"wires":[]},{"id":"184d72b5.3cfffd","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Soundbar off","server":"f76034e4.c52398","version":1,"entityidfilter":"media_player.soundbar","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":200,"wires":[["4d27f0cf.ab2e7"],[]]},{"id":"817ee4f9.407718","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"volume 0.15","server":"f76034e4.c52398","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.soundbar\",\"volume_level\":\"0.15\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":200,"wires":[[]]},{"id":"1329d609.58ad9a","type":"comment","z":"fcbdd419.d7ebd8","name":"Soundbar volume laag","info":"","x":120,"y":160,"wires":[]},{"id":"bc1b50ce.10cdd","type":"server-state-changed","z":"3f7eeedd.048942","name":"ServerBert off","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.serverbert","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":540,"wires":[["b376d637.208718"],[]]},{"id":"b376d637.208718","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":540,"wires":[["d671a712.e40e18"],["ec5a616c.1287f"]]},{"id":"ec5a616c.1287f","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"ServerBert is {% if is_state('binary_sensor.serverbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":580,"wires":[[]]},{"id":"d671a712.e40e18","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"ServerBert is {% if is_state('binary_sensor.serverbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"alien\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":500,"wires":[[]]},{"id":"bdcf49a.d3365b8","type":"server-state-changed","z":"3f7eeedd.048942","name":"AsusBert off","server":"f76034e4.c52398","version":1,"entityidfilter":"binary_sensor.asusbert","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":680,"wires":[["874ed0e0.2f964"],[]]},{"id":"874ed0e0.2f964","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":680,"wires":[["aca63dfe.c5f29"],["d4d188b0.b303a8"]]},{"id":"d4d188b0.b303a8","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"AsusBert is {% if is_state('binary_sensor.asusbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":720,"wires":[[]]},{"id":"aca63dfe.c5f29","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"AsusBert is {% if is_state('binary_sensor.asusbert', 'off') %}Offline{%endif %}!\",\"title\":\"Prio1 Henk Alarm!\",\"target\":\"nokiabert\",\"data\":{\"priority\":\"1\",\"sound\":\"alien\"}}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":640,"wires":[[]]},{"id":"c6d0d329.703b6","type":"comment","z":"fcbdd419.d7ebd8","name":"Bert melding naar school","info":"","x":130,"y":280,"wires":[]},{"id":"8438eab8.dd8818","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Bert op Leiden CS","server":"f76034e4.c52398","version":1,"entityidfilter":"person.bert_havekes","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Leiden Centraal","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":320,"wires":[["6ca7bd4b.1bd9b4"],[]]},{"id":"6ca7bd4b.1bd9b4","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Schooldag on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.school_dagen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":320,"wires":[["32fb0dff.385882"],[]]},{"id":"502ea1f2.7e86","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":320,"wires":[["a882313c.18711"],["654cf3c3.e0696c"]]},{"id":"654cf3c3.e0696c","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Vertrektijd {{ states.sensor.leiden_den_haag_hs.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.leiden_den_haag_hs.attributes.departure_platform}}, aankomst om {{ states.sensor.leiden_den_haag_hs.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.leiden_den_haag_hs.attributes.next}}.\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.leiden_den_haag_hs.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":360,"wires":[[]]},{"id":"a882313c.18711","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Vertrektijd {{ states.sensor.leiden_den_haag_hs.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.leiden_den_haag_hs.attributes.departure_platform}}, aankomst om {{ states.sensor.leiden_den_haag_hs.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.leiden_den_haag_hs.attributes.next}}.\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.leiden_den_haag_hs.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":280,"wires":[[]]},{"id":"32fb0dff.385882","type":"time-range-switch","z":"fcbdd419.d7ebd8","name":"alleen sochtends","lat":"52.19269","lon":"4.71886","startTime":"3:00","endTime":"10:30","startOffset":0,"endOffset":0,"x":570,"y":320,"wires":[["502ea1f2.7e86"],[]]},{"id":"2fdfe941.282a66","type":"comment","z":"fcbdd419.d7ebd8","name":"Bert melding van school","info":"","x":120,"y":440,"wires":[]},{"id":"190247f8.cb9588","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Bert op Den Haag HS","server":"f76034e4.c52398","version":1,"entityidfilter":"person.bert_havekes","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Den Haag HS","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":480,"wires":[["23c3042b.19a0dc"],[]]},{"id":"23c3042b.19a0dc","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Schooldag on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.school_dagen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":480,"wires":[["19de799.d651786"],[]]},{"id":"9efc6948.db7388","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":480,"wires":[["4132b8a6.d2faa8"],["8cc4ce64.6b36a"]]},{"id":"8cc4ce64.6b36a","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Vertrektijd {{ states.sensor.leiden_den_haag_hs.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.leiden_den_haag_hs.attributes.departure_platform}}, aankomst om {{ states.sensor.leiden_den_haag_hs.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.leiden_den_haag_hs.attributes.next}}\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.leiden_den_haag_hs.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":520,"wires":[[]]},{"id":"4132b8a6.d2faa8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Vertrektijd {{ states.sensor.den_haag_hs_leiden.attributes.departure_time_actual}} vanaf spoor {{ states.sensor.den_haag_hs_leiden.attributes.departure_platform}}, aankomst om {{ states.sensor.den_haag_hs_leiden.attributes.arrival_time_actual}}. Volgende trein vertrekt om {{ states.sensor.den_haag_hs_leiden.attributes.next}}.\",\"title\":\"Trein naar Den Haag HS: {{ states.sensor.den_haag_hs_leiden.attributes.status}}.\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":440,"wires":[[]]},{"id":"19de799.d651786","type":"time-range-switch","z":"fcbdd419.d7ebd8","name":"alleen smiddags of savonds","lat":"52.19269","lon":"4.71886","startTime":"10:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":600,"y":480,"wires":[["9efc6948.db7388"],[]]},{"id":"452665db.49de7c","type":"server-state-changed","z":"3f7eeedd.048942","name":"update","server":"f76034e4.c52398","version":1,"entityidfilter":"updater.updater","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":840,"wires":[["c2968c41.97dab"]]},{"id":"c2968c41.97dab","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":840,"wires":[["b12677c.cd49088"],["74689de8.3c0684"]]},{"id":"74689de8.3c0684","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Versie {{ states.updater.updater.state }} is beschikbaar.\",\"title\":\"Prio0 Henk update!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":880,"wires":[[]]},{"id":"b12677c.cd49088","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Versie {{ states.updater.updater.state }} is beschikbaar.\",\"title\":\"Prio0 Henk update!\",\"target\":\"nokiabert\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":800,"wires":[[]]},{"id":"f52b9b14.ad90c8","type":"comment","z":"3f7eeedd.048942","name":"Hassio update melding","info":"","x":120,"y":800,"wires":[]},{"id":"f4623743.b12868","type":"api-current-state","z":"fb24cd08.93ae3","name":"Alarm on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"disarmed","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"alarm_control_panel.alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["7af7cdef.943424"],[]]},{"id":"4a833063.d36f9","type":"comment","z":"fcbdd419.d7ebd8","name":"Alarm on, alerts on","info":"","x":110,"y":560,"wires":[]},{"id":"49c44feb.d985a","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Alarm on/off","server":"f76034e4.c52398","version":1,"entityidfilter":"alarm_control_panel.alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":680,"wires":[["654aad1a.49d204"]]},{"id":"99111bdd.bd66b8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"alerts on","server":"f76034e4.c52398","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.blueiris_alerts\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":760,"wires":[[]]},{"id":"ca09ea4c.a91bd8","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"alerts off","server":"f76034e4.c52398","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.blueiris_alerts\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":580,"wires":[[]]},{"id":"654aad1a.49d204","type":"switch","z":"fcbdd419.d7ebd8","name":"armed/pending/disarmed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":680,"wires":[["ca09ea4c.a91bd8"],["af4c55ac.c53958","afc38b6e.229818"],["99111bdd.bd66b8"],["99111bdd.bd66b8"]]},{"id":"af4c55ac.c53958","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Bert home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.bert_havekes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":640,"wires":[["45c42658.31f398"],[]]},{"id":"afc38b6e.229818","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"Eliza home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eliza_amling","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":700,"wires":[["45c42658.31f398"],[]]},{"id":"14850b61.2c4055","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"Alarm off","server":"f76034e4.c52398","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.alarm\",\"code\":\"2609\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":660,"wires":[[]]},{"id":"45c42658.31f398","type":"delay","z":"fcbdd419.d7ebd8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":660,"wires":[["14850b61.2c4055"]]},{"id":"51568827.3c60a8","type":"server-state-changed","z":"f68b2e74.e9f06","name":"lamp bert on","server":"f76034e4.c52398","version":1,"entityidfilter":"light.lamp_bert","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":120,"wires":[["faafc1a3.0dd0d"],[]]},{"id":"faafc1a3.0dd0d","type":"api-current-state","z":"f68b2e74.e9f06","name":"Bert not home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.bert_havekes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":120,"wires":[["8bc07a2b.875108"],[]]},{"id":"8bc07a2b.875108","type":"api-current-state","z":"f68b2e74.e9f06","name":"Eliza not home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.eliza_amling","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":120,"wires":[["dc50ff11.d23bf"],[]]},{"id":"dc50ff11.d23bf","type":"delay","z":"f68b2e74.e9f06","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":120,"wires":[["66dbe980.ca9798"]]},{"id":"66dbe980.ca9798","type":"api-call-service","z":"f68b2e74.e9f06","name":"lamp bert off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lamp_bert\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":120,"wires":[[]]},{"id":"79b6755b.24019c","type":"server-state-changed","z":"f68b2e74.e9f06","name":"lamp thom on","server":"f76034e4.c52398","version":1,"entityidfilter":"light.lamp_thom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":200,"wires":[["ff7bc8ab.ad07d8"],[]]},{"id":"ff7bc8ab.ad07d8","type":"api-current-state","z":"f68b2e74.e9f06","name":"Thom not home","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"person.thom_havekes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":200,"wires":[[],[]]},{"id":"b42a3066.1b736","type":"delay","z":"f68b2e74.e9f06","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":200,"wires":[["15de06be.09d9d9"]]},{"id":"15de06be.09d9d9","type":"api-call-service","z":"f68b2e74.e9f06","name":"lamp thom off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lamp_thom\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":200,"wires":[[]]},{"id":"b7068342.41158","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"Empty home","server":"f76034e4.c52398","version":1,"entityidfilter":"group.all_devices","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":90,"y":840,"wires":[["13546238.06e03e"],[]]},{"id":"d7a751f6.6bca7","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"lampen off","server":"f76034e4.c52398","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":[\"group.all_lights\"]}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":840,"wires":[[]]},{"id":"29d4c2a9.a69dee","type":"comment","z":"fcbdd419.d7ebd8","name":"empty house, lights off","info":"","x":120,"y":800,"wires":[]},{"id":"13546238.06e03e","type":"switch","z":"fcbdd419.d7ebd8","name":"armed/pending/disarmed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":840,"wires":[[],[],[],["d7a751f6.6bca7"]]},{"id":"4d27f0cf.ab2e7","type":"ha-wait-until","z":"fcbdd419.d7ebd8","name":"Soundbar on","server":"f76034e4.c52398","outputs":1,"entityId":"media_player.soundbar","property":"state","comparator":"is_not","value":"off","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":290,"y":200,"wires":[["817ee4f9.407718"]]},{"id":"d752f254.06c95","type":"api-current-state","z":"f68b2e74.e9f06","name":"lamp bert on?","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.lamp_bert","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":40,"wires":[["d0d844f4.e5d498"],[]]},{"id":"10133e3.a94dec2","type":"light-scheduler","z":"f68b2e74.e9f06","settings":"dfb6c086.eca8a","events":"[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":240}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":240}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":240}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":240}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":240}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":300}},{\"start\":{\"dow\":2,\"mod\":1380},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":240}},{\"start\":{\"dow\":3,\"mod\":1380},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":1380},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1380},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1380},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1380},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1380},\"end\":{\"dow\":5,\"mod\":0}}]","topic":"","name":"night off","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"0","sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":80,"y":40,"wires":[[]]},{"id":"63681df4.1c9ca4","type":"cast-to-client","z":"fcbdd419.d7ebd8","name":"","url":"","contentType":"","message":"dit is een bericht","language":"nl","ip":"192.168.2.43","port":"","volume":"20","x":530,"y":1000,"wires":[["e86b1f2d.af1c5"]]},{"id":"5ee881e0.97204","type":"inject","z":"fcbdd419.d7ebd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1000,"wires":[["dcebda4d.2c3068"]]},{"id":"dcebda4d.2c3068","type":"api-current-state","z":"fcbdd419.d7ebd8","name":"hm bert playing?","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.home_mini_bert","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":290,"y":1000,"wires":[["63681df4.1c9ca4"],["1b06bcca.c70c63"]]},{"id":"d5dfa72f.326c68","type":"cast-to-client","z":"fcbdd419.d7ebd8","name":"","url":"http://radio.truckers.fm/","contentType":"","message":"","language":"nl","ip":"192.168.2.43","port":"","volume":"20","x":870,"y":920,"wires":[[]]},{"id":"1b06bcca.c70c63","type":"cast-to-client","z":"fcbdd419.d7ebd8","name":"","url":"","contentType":"","message":"dit is een bericht","language":"nl","ip":"192.168.2.43","port":"","volume":"20","x":550,"y":1080,"wires":[[]]},{"id":"e86b1f2d.af1c5","type":"delay","z":"fcbdd419.d7ebd8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":960,"wires":[["d5dfa72f.326c68"]]},{"id":"4260b9f0.614518","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"deur bert on on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.deur_sensor_bert_on","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":80,"wires":[["d656e9d.e71ff18","e987dd57.d39ff"],[]]},{"id":"d656e9d.e71ff18","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":80,"wires":[["bb9f2e9b.85065"]]},{"id":"bb9f2e9b.85065","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert on off","server":"f76034e4.c52398","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.deur_sensor_bert_on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":80,"wires":[[]]},{"id":"1efb27a5.659ce8","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"deur bert off on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.deur_sensor_bert_off","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":200,"wires":[["f637b708.022138","b34e8253.13038"],[]]},{"id":"f637b708.022138","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":200,"wires":[["cd838c4a.d14dd"]]},{"id":"cd838c4a.d14dd","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert off off","server":"f76034e4.c52398","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.deur_sensor_bert_off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":200,"wires":[[]]},{"id":"e987dd57.d39ff","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert on","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"deurbert\",\"payload\":\"ON\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":140,"wires":[[]]},{"id":"b34e8253.13038","type":"api-call-service","z":"2d99bc64.b59ef4","name":"deur bert off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"deurbert\",\"payload\":\"OFF\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":260,"wires":[[]]},{"id":"12904181.dfaeae","type":"comment","z":"2d99bc64.b59ef4","name":"deur bert states","info":"","x":100,"y":40,"wires":[]},{"id":"5cdb6679.4613b8","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"raam bert on on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.raam_sensor_bert_on","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":380,"wires":[["e5a98772.249198","a239cb51.9e6938"],[]]},{"id":"e5a98772.249198","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":380,"wires":[["587b45c2.bb754c"]]},{"id":"587b45c2.bb754c","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert on off","server":"f76034e4.c52398","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.raam_sensor_bert_on\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":380,"wires":[[]]},{"id":"c1c542f8.6df82","type":"server-state-changed","z":"2d99bc64.b59ef4","name":"raam bert off on","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.raam_sensor_bert_off","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":500,"wires":[["8e62b030.2b954","f3b8654.e3a8298"],[]]},{"id":"8e62b030.2b954","type":"delay","z":"2d99bc64.b59ef4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":500,"wires":[["84fb2f97.34fa3"]]},{"id":"84fb2f97.34fa3","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert off off","server":"f76034e4.c52398","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.raam_sensor_bert_off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":500,"wires":[[]]},{"id":"a239cb51.9e6938","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert on","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"raambert\",\"payload\":\"ON\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":440,"wires":[[]]},{"id":"f3b8654.e3a8298","type":"api-call-service","z":"2d99bc64.b59ef4","name":"raam bert off","server":"f76034e4.c52398","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"raambert\",\"payload\":\"OFF\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":560,"wires":[[]]},{"id":"2a0f2b0e.f051e4","type":"comment","z":"2d99bc64.b59ef4","name":"raam bert states","info":"","x":100,"y":340,"wires":[]},{"id":"8197cdd8.c4aa","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson black","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_black","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":90,"y":960,"wires":[["27925214.3f0f3e"],[]]},{"id":"4ddff233.e58e2c","type":"comment","z":"3f7eeedd.048942","name":"Espon ink","info":"","x":80,"y":920,"wires":[]},{"id":"341e4e2a.608662","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson cyan","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_cyan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":90,"y":1020,"wires":[["27925214.3f0f3e"],[]]},{"id":"aa7b5a14.50d658","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson magenta","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_magenta","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":100,"y":1080,"wires":[["27925214.3f0f3e"],[]]},{"id":"a5600276.6552a","type":"server-state-changed","z":"3f7eeedd.048942","name":"epson yellow","server":"f76034e4.c52398","version":1,"entityidfilter":"sensor.epson_ink_level_yellow","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"10","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":90,"y":1140,"wires":[["27925214.3f0f3e"],[]]},{"id":"27925214.3f0f3e","type":"api-current-state","z":"3f7eeedd.048942","name":"pushover on","server":"f76034e4.c52398","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pushoveron","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":1040,"wires":[["be8e7672.a44ea8"],["a02d0900.931f88"]]},{"id":"a02d0900.931f88","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushbullet bert","server":"f76034e4.c52398","service_domain":"notify","service":"bert","data":"{\"message\":\"Versie {{ states.updater.updater.state }} is beschikbaar.\",\"title\":\"Prio0 Henk update!\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":1080,"wires":[[]]},{"id":"be8e7672.a44ea8","type":"api-call-service","z":"3f7eeedd.048942","name":"notify pushover bert","server":"f76034e4.c52398","service_domain":"notify","service":"pushoverbert","data":"{\"message\":\"Controleer Epson printer inkt, bijna leeg.\",\"title\":\"Prio0 Henk melding!\",\"target\":\"nokiabert\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1000,"wires":[[]]},{"id":"6e13e579.d6bd0c","type":"switch","z":"f68b2e74.e9f06","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":40,"wires":[["d752f254.06c95"],[]]},{"id":"a1a7fd56.cf1ec","type":"server-state-changed","z":"fcbdd419.d7ebd8","name":"tv marc","server":"f76034e4.c52398","version":1,"entityidfilter":"switch.tv_marc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":1160,"wires":[["b2eed817.333ff8"]]},{"id":"b2eed817.333ff8","type":"switch","z":"fcbdd419.d7ebd8","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1160,"wires":[["2ae37179.1d685e"],["1789537f.ca03fd"]]},{"id":"1789537f.ca03fd","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"led strip marc off","server":"f76034e4.c52398","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.led_strip_marc\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":1200,"wires":[[]]},{"id":"2ae37179.1d685e","type":"api-call-service","z":"fcbdd419.d7ebd8","name":"led strip marc on","server":"f76034e4.c52398","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.led_strip_marc\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1140,"wires":[[]]}]